<footer class="row align-items-center">
  <div class="col-sm">Lorem ipsum dolor.</div>
  <div class="col-sm">
    <span>020 8876 0646</span>
    <span>lesley@theflowerroombarnes.com</span>
  </div>
  <div class="col-sm"><a href="https://www.instagram.com/theflower.room/?hl=en">Instagram</a></div>
</footer>
