<section class="container vp">
  <h2>Opening hours</h2>
  <ul>
    <li>Mon- Fri: 09:00 - 17:00</li>
    <li>Sat - Sun: 10:00 - 16:00</li>
  </ul>
</section>

<section class="blockhero">
  <div class="container vp ">
    <h2>Get in touch</h2>
    <p>Phone: <a href="tel:+442088760646">020 8876 0646</a><br/>
      Email: <a href = "mailto: lesley@theflowerroombarnes.com">lesley@theflowerroombarnes.com</a></p>
  </div>
</section>

<section class="container vp">
  <h2>Where to find us (and Betty)</h2>


<div class="card">

    <div class="betty"></div>

    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">44 White Hart Ln,</h6>
      <p class="card-text">Barnes<br/>
        London<br/>
        SW13 0PZ</p>

        <a href="https://goo.gl/maps/3LU8EEFnFZS9Ms4e9" class="button">Directions</a>

    </div>
  </div>


</section>
