<section class="pink">
  <h2>Opening hours</h2>
  <ul>
    <li>Mon- Fri: 09:00 - 17:00</li>
    <li>Sat - Sun: 10:00 - 16:00</li>
  </ul>

  <h2>Get in touch</h2>
  <p>Phone: 020 8876 0646<br />
  Email: lesley@theflowerroombarnes.com</p>

  <h2>Where to find us (and Betty)</h2>
  <div class="card" style="width: 12rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">44 White Hart Ln,</h6>
      <p class="card-text">Barnes<br />
      London<br />
      SW13 0PZ</p>
      <a href="https://goo.gl/maps/3LU8EEFnFZS9Ms4e9" class="card-link">&rarr; Get directions</a>
    </div>
  </div>

  <div class="betty">
    <div class="text">Meet Betty.
She was hand-sculpted by our wondeful Florist, Hannah. See if you can find her inside</div>
  </div>
</section>
