<section class="container vp">
  <div class="fill text-60">
    <h2>Events</h2>
      <p>We provide flowers for weddings, parties, christenings, engagements, thank you gifts, anniversaries and anything else you can think of.
      <h5>Sympathy</h5>
      <p>We will also be able to assist you in any funeral or sympathy flowers.</p>
      <h5>Corporate</h5>
      <p>Our corporate clients look to us to install a stylish weekly arrangements to compliment their workplace; we work hard to be up to date with the latest trends and fashions.</p>
      <h5>Our work</h5>
      <p>We regularly supply for local events held at Winchester House, Templeton Rocket Restaurant, Bingham Hotel, The Tree House, Ham Polo Club, The Depot Restaurant, Syon House, Chiswick House, Hampton Court, Richmond Hill Hotel and Richmond and Surrey Golf Club. </p>
      <p>If you would like advice for any future events please <%= link_to "contact us", contact_path, class: "link" %></p>
    </div>
  </section>
