<h1>Welcome to The Flower Room</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nostrum quam perspiciatis, explicabo ipsum hic dolor, porro debitis quaerat eveniet alias pariatur neque. Error molestias perferendis, pariatur id sed asperiores dolorum maiores ullam itaque, dolorem cum unde eaque, aperiam nam sapiente totam ab impedit nostrum soluta. Distinctio consequuntur sit blanditiis.</p>

<h2>Featured products</h2>
<%= render partial: "products/product", collection: @featured_products %>
