<section class="hero" id="bettyhero"></section>

<section class="container vp">
  <h1>Welcome to The Flower Room</h1>

  <p class="text-60">Located in leafy Barnes SW13, we have an abundance of beautiful flowers complemented with old stone pots or beautiful vases. You can order on this website or escape to the tranquillity of The Flower Room and meet our artistic team of florists who will personalise your order.</p>
  <p class="text-60">To complement the flowers of your choice we also offer a selection of fine wines, champagne and chocolates. Our innovative designers cater for all needs, tastes and budgets.</p>
</section>

<section class="hero blockhero">
  <div class="container vp">
    <h2>Featured products</h2>
    <div class="row featured-products">
      <%= render partial: "products/featured", collection: @featured_products %>
    </div>
  </div>
</section>

<section class="container vp">
  <h2>Get a quote</h2>
  <p>Request form coming soon!. For now, please <%= link_to "call or email us", contact_path, class: "link" %>!</p>
</section>
