<section class="container vp">
  <div class="fill text-60">
    <h2>How to order</h2>
    <p>You can order on this website or escape to the tranquillity of The Flower Room and meet our artistic team of florists who will personalise your order.</p>
    <h5>Delivery</h5>
    <p>We can deliver on the same day or within 3 hours for local clients, but we also ship worldwide.</p>
  </section>
</div>
