
<section class="pink">
  <h2>How to order</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ex, totam animi nam quaerat consequuntur dolores natus ab fugiat debitis vel voluptates ad ratione quod ipsam, nihil autem sequi fuga facere neque tempore vitae aut placeat. In, saepe natus voluptas neque incidunt impedit ex facere, dicta possimus reprehenderit maiores aliquam? Molestiae eaque ad voluptatum nihil explicabo, similique, voluptates et ducimus, ipsa voluptate veritatis nemo expedita corporis. Molestiae esse aperiam culpaectetur sit, non libero? Reprehenderit nam aut, molestias cumque vel totam, architecto quo expedita unde nisi itaque quod fuga officiis sed.</p>
</section>
