//== Colors
$brand-primary:         #fffaf0 !default; // Floralwhite
$brand-success:         #cfe6aa !default; // Green
$brand-info:            #e6aacf !default; // Purple
$brand-warning:         #e6b6aa !default; // Red
$brand-grey:            #c0c0c0 !default; // Grey

// Text
$body-bg:               #fff !default;
$text-color:            #b4b4b4 !default;
$link-color:            #000 !default;
$link-hover-color:      lighten($link-color, 25%) !default;
$link-hover-decoration: none !default;

//== Typography
// Body
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700&display=swap');
$font-family-base:        "Josefin Slab", serif !default;

// Headings
$headings-font-family:    "Fredericka the Great", serif !default;
$headings-line-height:    1.2 !default;
$headings-color:          inherit !default;

//== Other
