body {
  margin-top: 55px;
}

nav {
  background-color: #fff;
}

.hero {
  width: 100%;
}

.blockhero {
  background-color: $brand-primary;
}

.vp {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vp-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vh-sm {
  padding-left: 15px;
  padding-right: 15px;
}

.text-60 {
  max-width: 440px;
}

.title {
  font-family: $headings-font-family;
  font-size: 24px;
}

footer {
  background-color: #1C0904;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: $brand-primary;
  height: 2rem;
  text-align: center;
  padding-bottom: 5px;
  a {
    color: $brand-primary;
    transition: all 0.5s ease;
    &:hover {
      color: $brand-primary;
      letter-spacing: 2px;
    }
  }
}

logo {
  font-family: $headings-font-family;
}

.yield {
  padding-bottom: 50px;
}

.cta {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 5px 15px;
  background-color: #e6aacf;
  border-radius: 4px;

  &:hover {
    color: #fff;
    background-color: #f5b1d4;
    box-shadow: 1px 1px 3px #77777740;
  }
  &:active {
    color: #fff;
    background-color: #d496b9;
    color: #fff;
  }
}

.button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 5px 15px;
  background-color: $brand-grey;
  border-radius: 4px;

  &:hover {
    color: #fff;
    background-color: #aaaaaa;
    box-shadow: 1px 1px 3px #77777740;
  }
  &:active {
    color: #fff;
    background-color: #888;
    color: #fff;
  }
}
