body {
  margin-top: 55px;
}

.vertical-pad {
  padding: 50px 15px;
}

.vertical-pad-sm {
  padding: 10px;
}

.text-60 {
  max-width: 440px;
}

footer {
  background-color: #1C0904;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: $brand-primary;
  height: 2rem;
  text-align: center;
  padding-bottom: 5px;
  a {
    color: $brand-primary;
    transition: all 0.5s ease;
    &:hover {
      color: $brand-primary;
      letter-spacing: 2px;
    }
  }
}

logo {
  font-family: $headings-font-family;
}

.yield {
  padding-bottom: 50px;
}

.pink {
  background-color: $brand-primary;
  padding: 25px;
  position: relative;
  max-width: 500px;
}

.betty {
  position: relative;
  height: 210px;
  width: 210px;
  background-image: url("https://theflowerroombarnes.s3.eu-west-2.amazonaws.com/Screenshot+2019-07-13+at+15.41.05.png");
  background-size: cover;
  background-position: bottom;
  margin: -25px 0 0 auto;
  .text {
    position: absolute;
    bottom: 0;
    transform: translateX(calc(-100% - 10px));
    text-align: right;
    width: 12rem;
  }
}
