body {
  margin-top: 55px;
}

nav {
  background-color: #fff;
}

a.link {
  border-bottom: 2px solid $brand-info;
  font-weight: bold;

  &:hover {
    color: #666;
    border-bottom: 2px solid $brand-success;
    transform: translateY(1px);
  }

  &:active {
    color: #000;
    transform: translateY(2px);
  }
}

.fill {
  min-height: calc(100vh - 216px);
}

.hero {
  width: 100%;
}

.blockhero {
  background-color: $brand-primary;
}

.vp {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vp-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vh-sm {
  padding-left: 15px;
  padding-right: 15px;
}

.text-60 {
  max-width: 440px;
}

.title {
  font-family: $headings-font-family;
  font-size: 24px;
}

footer {
  background-color: #1C0904;
  width: 100%;
  padding: 10px 15px;
  color: $brand-primary;
  display: flex;
  justify-content: space-around;

  a {
    color: $brand-primary;

    &:hover {
      color: #fff2d7;
      border-bottom: solid 2px $brand-info;
      transform: translateY(2px);
    }
  }
}

logo {
  font-family: $headings-font-family;
}

.cta {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 15px;
  background-color: #e6aacf;
  border-radius: 4px;

  &:hover {
    color: #fff;
    background-color: #f5b1d4;
    box-shadow: 1px 1px 3px #77777740;
  }

  &:active {
    color: #fff;
    background-color: #d496b9;
    color: #fff;
  }
}

.button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 15px;
  background-color: $brand-grey;
  border-radius: 4px;

  &:hover {
    color: #fff;
    background-color: #aaaaaa;
    box-shadow: 1px 1px 3px #77777740;
  }

  &:active {
    color: #fff;
    background-color: #888;
    color: #fff;
  }
}
