<div class='col-md-4 vp-sm'>

  <div class="img-contain-3">
    <%= link_to product_path(product) do %>
      <%= image_tag product.image1.medium.to_s %>
    <% end %>

    <div class="product-card">
      <div class="product-info">
        <span><%= product.title %></span>
        <span><%= number_to_currency product.price_in_pounds, unit: "£" %></span>
      </div>
    </div>
  </div>

</div>
