<div class='col-md-4'>
  <h4><%= link_to product.title, product_path(product) %></h4>

  <%= link_to product_path(product) do %>
    <%= image_tag product.image1.medium.to_s, class: "img-contain" %>
  <% end %>

  <p><%= number_to_currency product.price_in_pounds, unit: "£" %></p>
</div>
